[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
"discord.py" = "*"
dataclass-wizard = "*"
pylint = "*"
pip = "*"
install = "*"
"discord.py-stubs" = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python main.py"
